
        <h1 mat-dialog-title>Enter a price</h1>
        <div mat-dialog-content>
            <form class="bid-manual-form" [formGroup]="bidingForm" (ngSubmit)="onBidSubmit()">
                <mat-form-field class="example-full-width">
                    <mat-label>Enter a new price</mat-label>
                    <input matInput formControlName="bidingPrice">
                </mat-form-field>
                <button mat-raised-button color="manual" class="header__btn header__btn--form" type="submit"
                    [disabled]="!bidingForm.valid">Confirm price</button>
            </form>
        </div>
